
@media (max-width: 768px) {
.card {
    flex-direction: column;
    width: 90%;
}

.card-img {
    width: 100%;
    height: 200px;
}

.share-box {
    right: 0;
    left: 0;
    bottom: 0;
    border-radius: 0 0 10px 10px;
}

.share-box::after {
    display: none;
}
}