
.manrope{
    font-family: "Manrope", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500 700;
    font-style: normal;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Manrope', sans-serif;
    background-color: hsl(210, 46%, 95%);
    height: 100vh;
    display: flex;
    justify-content: center;   
    align-items: center;
}

.article-card{
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    width: 60%;
    display: flex;
    flex-direction: row;
}

img{
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    width: 40%;
    height: 100%;
}


.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }
