:root {
    --very-dark-grayish-blue: hsl(217, 19%, 35%);
    --desaturated-dark-blue: hsl(214, 17%, 51%);
    --grayish-blue: hsl(212, 23%, 69%);
    --light-grayish-blue: hsl(210, 46%, 95%);
    }

    * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    }

body {
    font-family: 'Manrope', sans-serif;
    background-color: var(--light-grayish-blue);
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card {
    background: #fff;
    width: 730px;
    border-radius: 10px;
    display: flex;
    overflow: hidden;
    box-shadow: 0 10px 40px rgba(0,0,0,0.15);
}

.card-img {
    width: 285px;
    object-fit: cover;
}

.card-content {
    padding: 2.5rem;
}

.card-title {
    font-size: 1.25rem;
    color: var(--very-dark-grayish-blue);
    margin-bottom: 1rem;
}

.card-text {
    font-size: 0.85rem;
    color: var(--desaturated-dark-blue);
    line-height: 1.6;
    margin-bottom: 1.5rem;
}

.card-footer {
    display: flex;
    align-items: center;
    position: relative;
}

.author {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.author img {
    width: 40px;
    border-radius: 50%;
}

.name {
    font-weight: 700;
    font-size: 0.8rem;
    color: var(--very-dark-grayish-blue);
}

.date {
    font-size: 0.75rem;
    color: var(--grayish-blue);
}

.share-btn {
    margin-left: auto;
    background: var(--light-grayish-blue);
    border: none;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    cursor: pointer;
}

.share-btn.active {
    background: var(--very-dark-grayish-blue);
}

.share-btn.active img {
    filter: brightness(10);
}


.share-box {
    position: absolute;
    right: -68px;
    bottom: 70px;
    background: var(--very-dark-grayish-blue);
    padding: 1rem 2rem;
    border-radius: 10px;
    display: flex;
    align-items: center;
    gap: 1rem;
    letter-spacing: 4px;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease;
    }

.share-box span {
    color: var(--grayish-blue);
    font-size: 0.7rem;
}

.share-box.show {
    opacity: 1;
    pointer-events: auto;
}

.share-box::after {
    content: "";
    position: absolute;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
    border-width: 10px 10px 0;
    border-style: solid;
    border-color: var(--very-dark-grayish-blue) transparent transparent;
}


@media (max-width: 768px) {
.card {
    flex-direction: column;
    width: 90%;
}

.card-img {
    width: 100%;
    height: 200px;
}

.share-box {
    right: 0;
    left: 0;
    bottom: 0;
    border-radius: 0 0 10px 10px;
}

.share-box::after {
    display: none;
}
}


.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }
