
.manrope{
    font-family: "Manrope", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500 700;
    font-style: normal;
}

:root {
    --very-dark-grayish-blue: hsl(217, 19%, 35%);
    --desaturated-dark-blue: hsl(214, 17%, 51%);
    --grayish-blue: hsl(212, 23%, 69%);
    --light-grayish-blue: hsl(210, 46%, 95%);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Manrope', sans-serif;
    background-color: var(--light-grayish-blue);
    height: 100vh;
    display: flex;
    justify-content: center;   
    align-items: center;
}

.article-card{
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    width: 60%;
    height: 35%;
    display: flex;
    flex-direction: row;
}

img{
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    width: 40%;
    height: 100%;
}

h1{
    font-size: 1.5rem;   
    color: var(--very-dark-grayish-blue);
    margin: 2rem 2.5rem 1rem 2rem;
    margin-right: 2.5rem;
}

.article-text{
    font-size: 1rem;
    color: var(--grayish-blue);
    margin: 0 2rem 2rem 2rem;
    line-height: 1.5rem;
}

.author{
    display: flex;
}

.article-avatar{
    width: 2.8rem;
    height: 2.8;
    border-radius: 50%;
    margin-left: 2rem;
}
.pone{
    display: flex;
    font-weight: 600;
    font-size: smaller;
    color: var(--very-dark-grayish-blue);
    margin-left: 1rem;
    margin-top: 1.5;
}
.ptwo{
    color: var(--grayish-blue);
    font-weight: 400;
    margin-top: 0.3rem;
    margin-left: 1rem;
    font-size: smaller;
}

.share{
    margin-left: 10rem;
    margin-right: auto;
    width: 2.2rem;
    height: 2.2rem;
    border: none;
    border-radius: 50%;
    align-self: center;
    color: white;
    font-size: 1rem;
}
.share.color-change{
    background-color: var(--very-dark-grayish-blue);

}

.share-button{
    background-color: var(--light-grayish-blue);
    position: relative;
    display: inline-block;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.share-button .share-text{
    visibility: hidden;
    width: 170px;
    background-color: var(--very-dark-grayish-blue);
    color: white;
    text-align: left;
    border-radius: 5px;
    padding: 20px 75px;
    position: absolute;
    z-index: 1;
    bottom: -8px;
    left: 50%;
    margin-left: -264px;
}

.share-button:hover .share-text{
    visibility: visible;
    -webkit-animation: fadeIn 0.3s;
    animation: fadeIn 0.3s;
    box-shadow: 1px 1px 20px gray;
}


.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }
